<h1 class="titulo"> Juros Composto </h1>

<form action="/juros_composto" method="POST">
    <label for="capital">Capital Inicial (P):</label>
    <input type="number" id="capital" name="capital" placeholder="Ex: 1000" required>
    
    <label for="taxa">Taxa de Juros: (% ao mês)</label>
    <input type="number" id="taxa" name="taxa" placeholder="Ex: 5" required>
    
    <label for="tempo">Tempo (meses):</label>
    <input type="number" id="tempo" name="tempo" placeholder="Ex: 12" required>

    <button type="submit"> Calcular </button>
</form> 

<% if (typeof j != 'undefined') {  %>
        <div class="resultado">
            <h2>Resultado:</h2>
            <p>Capital: R$ <%= c.toFixed(2) %> </p>
            <p>Taxa: <%= i %> % ao mês </p>
            <p>Tempo: <%= t %> meses </p>
            <p>Juros composto: R$ <%= j.toFixed(2) %> </p>
            <p>Montante: R$ <%= m.toFixed(2) %> </p>
        </div>
<% }  %>
